# Rules for USBmount -*- conf -*-

ACTION=="add",SUBSYSTEM=="block",KERNEL=="sd[a-h]1",	RUN+="usb_mount /dev/%k"
ACTION=="remove",SUBSYSTEM=="block",KERNEL=="sd[a-h]1",	RUN+="usb_unmount /dev/%k"
